@import "tailwindcss";

@theme {
    --color-bg: #ffffff;
    --color-fg: #171717;
    --font-sans: var(--font-lato);
    --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #0a0a0a;
        --color-fg: #ededed;
    }
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: var(--font-lato), sans-serif;
}

.font-lato {
    font-family: var(--font-lato), sans-serif;
}

.font-playfair {
    font-family: var(--font-playfair), serif;
}